a{
    color: red;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
p {
    font-family: "Roboto", sans-serif;
        display: block;
    margin-block-start: 24px;
    margin-block-end: 24px;
    margin-inline-start: 24px;
    margin-inline-end: 24px;
    unicode-bidi: isolate;
}
